In [1]:
import os
import sqlite3
import pandas as pd
from langchain_community.utilities import SQLDatabase

In [8]:
path_db = os.path.dirname(os.getcwd()) + '/data/db/chinook.db'
db = SQLDatabase.from_uri(f"sqlite:///{path_db}")
conn = sqlite3.connect(path_db)
print(db.get_usable_table_names())

['albums', 'artists', 'customers', 'employees', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'tracks']

In [9]:
query = "SELECT * FROM artists LIMIT 5;"

In [10]:
db.run(query)

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains')]"

In [11]:
df = pd.read_sql_query(query, conn)
df

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [5]:
db.run("PRAGMA table_info(artists);")

"[(0, 'ArtistId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]"