In [11]:
import os
import pandas as pd
from langchain_community.utilities import SQLDatabase

In [3]:
path_db = os.path.dirname(os.getcwd()) + '/data/db/chinook.db'

In [8]:
db = SQLDatabase.from_uri(f"sqlite:///{path_db}")
print(db.get_usable_table_names())

['albums', 'artists', 'customers', 'employees', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'tracks']

In [12]:
pd.DataFrame(db.run("SELECT * FROM artists LIMIT 5;"))

ValueError: DataFrame constructor not properly called!

In [15]:
test = db.run("SELECT * FROM artists LIMIT 5;")

In [18]:
test

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains')]"

In [13]:
db.get_context?

Signature: db.get_context() -> 'Dict[str, Any]'
Docstring: Return db context that you may want in agent prompt.
File:      ~/miniconda3/envs/llm/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py
Type:      method